/*-------------------------------------------------- FONTS -------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@font-face {
  font-family: "Nav-font";
  src: url("..img/fonts/crimson-roman.woff") format("woff"), url("..img/fonts/crimson-roman.ttf") format("truetype"); }
/*-------------------------------------------------- BODY -------------------------------------------------- */
body {
  background-color: #f4f4f4;
  padding-bottom: 0 !important; }

/*-------------------------------------------------- LOGO -------------------------------------------------- */
.logo {
  display: block;
  font-size: 30px;
  color: #000;
  font-weight: 400;
  text-decoration: none;
  padding-top: 30px;
  text-align: center;
  font-family: "Pacifico", cursive; }
  .logo:hover {
    text-decoration: none;
    color: #000; }

/*-------------------------------------------------- NAV -------------------------------------------------- */
.top-nav {
  font-family: "Nav-font", Fallback, sans-serif;
  margin-top: 30px; }
  .top-nav .container {
    height: 60px;
    border-top: 1px solid rgba(37, 37, 37, 0.25);
    border-bottom: 1px solid rgba(37, 37, 37, 0.25); }
  .top-nav-menu {
    padding-top: 16px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex; }
    .top-nav-menu ul {
      font-size: 15px;
      font-weight: 300;
      color: rgba(37, 37, 37, 0.75);
      text-transform: uppercase;
      display: flex;
      list-style: none; }
      .top-nav-menu ul li {
        margin-left: 15px; }
        .top-nav-menu ul li:first-child {
          margin-left: 0; }
        .top-nav-menu ul li a {
          color: rgba(37, 37, 37, 0.75);
          text-decoration: none; }
        .top-nav-menu ul li:hover a {
          color: #DAA520;
          opacity: 0.75; }
    .top-nav-menu-lang {
      margin-left: 50px;
      display: flex;
      font-size: 15px;
      font-weight: 400; }
      .top-nav-menu-lang a {
        color: rgba(37, 37, 37, 0.75);
        text-decoration: none; }
        .top-nav-menu-lang a:hover {
          color: #DAA520;
          opacity: 0.75; }

/*-------------------------------------------------- CONTENT -------------------------------------------------- */
.content {
  padding-top: 50px; }
  .content .col-md-4 {
    margin-bottom: 50px; }
  .content img {
    width: 100%;
    height: 100%; }

/*-------------------------------------------------- RUBRICS -------------------------------------------------- */
.rubrics-item {
  position: relative; }
  .rubrics-item-photo {
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.15);
    transition: all 0.5s; }
  .rubrics-item-text {
    text-align: center;
    position: absolute;
    width: 100%;
    top: calc(100% - 12px); }
    .rubrics-item-text-name {
      text-transform: uppercase;
      background-color: #fff;
      display: inline;
      padding: 10px; }
  .rubrics-item:hover .rubrics-item-photo {
    opacity: 0.9;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); }
  .rubrics-item:hover .rubrics-item-text {
    background-blend-mode: lighten;
    z-index: 1000; }
    .rubrics-item:hover .rubrics-item-text .rubrics-item-text-name {
      z-index: 1000;
      color: #DAA520; }

/*-------------------------------------------------- FOOTER -------------------------------------------------- */
footer {
  margin-top: 50px;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 10px; }
  footer .social-links {
    margin-bottom: 20px; }
    footer .social-links a {
      margin-left: 10px;
      margin-right: 10px;
      color: #000;
      font-size: 30px;
      transition: all 0.3s; }
      footer .social-links a:hover {
        color: #DAA520;
        opacity: 0.6; }
  footer .contacts {
    color: #000;
    font-size: 20px;
    font-weight: 300; }
    footer .contacts p {
      margin-bottom: 5px; }

/*-------------------------------------------------- RUBRIC -------------------------------------------------- */
.desc {
  font-family: "Nav-font", Fallback, sans-serif;
  margin-top: 60px;
  margin-bottom: 40px; }
  .desc .desc-text-photo {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    height: 400px;
    float: right; }
    .desc .desc-text-photo img {
      height: 100%; }
  .desc .desc-text h2 {
    text-align: center;
    margin-bottom: 30px;
    color: rgba(37, 37, 37, 0.75);
    font-weight: 500;
    font-size: 30px; }
  .desc .desc-text p {
    margin-bottom: 4px;
    color: rgba(37, 37, 37, 0.75);
    font-weight: 400;
    font-size: 14px; }

/*-------------------------------------------------- PRICE -------------------------------------------------- */
.price {
  margin-top: 40px; }
  .price h2 {
    text-align: center;
    margin-bottom: 30px;
    color: rgba(37, 37, 37, 0.75);
    font-weight: 500;
    font-size: 30px; }
  .price p {
    margin-bottom: 30px;
    color: rgba(37, 37, 37, 0.75);
    font-weight: 400;
    font-size: 30px; }
  .price .container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .price .container .col-md-4 {
      margin-bottom: 50px; }
  .price-item {
    border: 1px solid #e7caaa; }
    .price-item-title {
      width: 100%;
      padding: 10px 0px 15px 0px;
      opacity: 0.9;
      font-family: "Playfair Display", serif;
      background-color: #e7caaa;
      text-align: center;
      font-size: 30px;
      font-weight: 500; }
    .price-item-price {
      width: 100%;
      font-family: "Nav-font", Fallback, sans-serif;
      color: #777777;
      font-size: 40px;
      border-bottom: 1px solid #777777;
      text-align: center;
      font-weight: 300; }
    .price-item-desc {
      padding: 8px;
      width: 100%;
      font-family: "Playfair Display", serif;
      color: #000000;
      font-size: 16px;
      border-bottom: 1px solid #777777;
      text-align: center;
      font-weight: 200;
      background-color: #dbdbdb;
      opacity: 0.5; }

/*-------------------------------------------------- CONTACTS -------------------------------------------------- */
.contacts {
  margin-top: 50px; }
  .contacts p {
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 14px;
    font-family: "Nav-font", Fallback, sans-serif; }
  .contacts-location {
    font-weight: 300;
    font-size: 14px;
    font-family: "Nav-font", Fallback, sans-serif;
    position: relative;
    padding-left: 40px; }
    .contacts-location:before {
      content: "";
      width: 35px;
      height: 30px;
      background-image: url(../img/social/map.png);
      position: absolute;
      left: -2px;
      top: 15px;
      background-repeat: no-repeat;
      background-size: contain; }
  .contacts-phone {
    font-weight: 300;
    font-size: 14px;
    font-family: "Nav-font", Fallback, sans-serif;
    position: relative;
    padding-left: 40px; }
    .contacts-phone:before {
      content: "";
      width: 35px;
      height: 30px;
      background-image: url(../img/social/phone.png);
      position: absolute;
      left: -2px;
      top: -5px;
      background-repeat: no-repeat;
      background-size: contain; }
  .contacts-mail {
    font-weight: 300;
    font-size: 14px;
    font-family: "Nav-font", Fallback, sans-serif;
    position: relative;
    padding-left: 40px; }
    .contacts-mail:before {
      content: "";
      width: 35px;
      height: 30px;
      background-image: url(../img/social/mail.png);
      position: absolute;
      left: -2px;
      top: -5px;
      background-repeat: no-repeat;
      background-size: contain; }
  .contacts-skype {
    font-weight: 300;
    font-size: 14px;
    font-family: "Nav-font", Fallback, sans-serif;
    position: relative;
    padding-left: 40px; }
    .contacts-skype:before {
      content: "";
      width: 35px;
      height: 30px;
      background-image: url(../img/social/skype.png);
      position: absolute;
      left: -2px;
      top: -5px;
      background-repeat: no-repeat;
      background-size: contain; }
  .contacts-map {
    margin-top: 70px; }

/*-------------------------------------------------- ABOUT -------------------------------------------------- */
.about {
  margin-top: 50px; }
  .about-photo {
    padding: 20px;
    height: 100%;
    float: left; }
    .about-photo img {
      height: 100%;
      width: 100%; }
  .about-text {
    padding-top: 20px;
    font-weight: 300;
    font-size: 14px;
    font-family: "Nav-font", Fallback, sans-serif; }

/*# sourceMappingURL=style.css.map */
